body {
  margin: 0px;

  /* width: 1600px; */
  /* use width 1600px (according to figma file) or (use width: 100% ; with 80% browser size ); */
  width: 100%;
}
* {
  padding: 0;
  margin: 0px 0px -2.5px 0px;
}
